<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>De inicio com o Aetherius - A segurança da sua empresa em primeiro lugar</title>
<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- CSS personalizado -->
<link rel="stylesheet" href="../css/style.css">
<link rel="shortcut icon" href="../imgs/favicon.ico" type="image/x-icon">
</head>
<body>

  <header>
    <nav class="navbar navbar-expand-lg navbar-light fundo-nav">
      <div class="container-fluid">
        <a class="navbar-brand" href="../views/index.html"><img class="img-logo1" src="../imgs/aetherius-logo.jpeg.png" width="98" height="98" alt="" srcset=""></a>
        <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item texto-0 sopro-vento">
              <a class="nav-link active a-logo text-white" aria-current="page" href="../views/index.html">Home</a>
            </li>
            <li class="nav-item texto-0 sopro-vento">
              <a class="nav-link a-logo text-white" href="../views/download.html">Download</a>
            </li>
            <li class="nav-item texto-0 sopro-vento">
              <a class="nav-link a-logo text-white" href="../views/contato.html">Contato</a>
            </li>
            </div>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <section class="container mt-5">
    <div class="row">
      <div class="col-md-8">
        <h1 class="display-3 m-5">Download</h1>
        <div class="m-5">
          <p>Ubuntu Server
              <p><a href="caminho/para/seu/arquivo.zip" download="nome-do-arquivo.zip" class="">
                <p>Baixar</p>
                <svg class="pasta-download" width="64px" height="64px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <rect width="24" height="24" fill="white"></rect> <path d="M4 9V6.47214C4 6.16165 4.07229 5.85542 4.21115 5.57771L5 4H10L11 6H21C21.5523 6 22 6.44772 22 7V9V18C22 19.1046 21.1046 20 20 20H18" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M17.2362 9H2.30925C1.64988 9 1.17099 9.62698 1.34449 10.2631L3.59806 18.5262C3.83537 19.3964 4.62569 20 5.52759 20H19.6908C20.3501 20 20.829 19.373 20.6555 18.7369L18.201 9.73688C18.0823 9.30182 17.6872 9 17.2362 9Z" stroke="#000000"></path> </g></svg>
              </a></p>
          </p>
          <p class="mt-5">Windows</p>
              <p>Em breve</p>
        </div>
      </div>
      <div class="col-md-4">
        <!-- Coloque qualquer conteúdo adicional aqui, como imagens, vídeos ou outros elementos -->
      </div>
    </div>
  
    <footer class="text-center py-4 mt-5">
      <div class="container">
          <p class="mb-0">© 2024 Aetherius - Seu ar mais puro</p>
      </div>
    </footer>


  <!--javascript-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  <!--animacao loading-->
  <script src="../javascript/load.js" defer></script>
</body>
</html>
